{% extends '::base.html.twig' %}

{% block body %}

<p>{{ question.question }} ({{ question.category }})</p>

<table>
    <tr>
        <th>Answer</th>
        <th>Level</th>
        <th></th>
        <th></th>
    </tr>
    {% for answer in question.answers %}
    <tr>
        <td>{{ answer.answer }}</td>
        <td>{{ answer.level }}</td>
        <td>[ <a href="{{ path( 'answer_delete', { 'id': answer.id } ) }}">delete</a> ]</td>
        <td>[ <a href="{{ path( 'question_edit_answer', { 'id': question.id, 'answer_id': answer.id } ) }}">edit</a> ]</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="4">
            <p>This question does not have any answers defined yet.</p>
        </td>
    </tr>
    {% endfor %}
</table>

{% render 'SykesGuideBundle:Answer:edit' with { 'id': answerId } %}

{% endblock %}