{% extends '::base.html.twig' %}

{% block body %}

<table>
    <tr>
        <th>Answer</th>
        <th>Level</th>
        <th></th>
        <th></th>
    </tr>
    {% for answer in answers %}
    <tr>
        <td>{{ answer.answer }}</td>
        <td>{{ answer.level }}</td>
        <td>[ <a href="{{ path( 'answer_delete', { 'id': answer.id } ) }}">delete</a> ]</td>
        <td>[ <a href="{{ path( 'answer_list', { 'id': answer.id } ) }}">edit</a> ]</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="4">
            <p>Nothin yet dude</p>
        </td>
    </tr>
    {% endfor %}
</table>

<form action="{{ path('answer_list') }}" method="post" {{ form_enctype(form) }}>
        {% if answer.id %}
            <input type="hidden" name="id" value="{{ answer.id }}" />
        {% endif %}
        {{ form_widget(form) }}

        <input type="submit" />
</form>

{% endblock %}